body {
    background-color: #f5f4eb;
    font-family: 'Titillium Web', sans-serif; /* using the google font I added */
    }

/*basic content styling */
#content {
    width: 50%;
    margin: auto;
    line-height: 1.5em;
    font-size: 1.5em;
    padding-top: 7%;
    display: flex;
    flex-direction: column; /* centering the content */
    justify-content: center;
    align-items: center;
    height: 50vh; /* Making sure the container takes the full height of the viewport */
    font-size: 1em;
}

/* different content styling for different pages */
#skill-content {
    width: 70%;
    display: flex;
    margin: auto;

    flex-direction: column;
    align-items: center;

    justify-content: center;

}

#work-content {
    width: 50%;
    display: flex;
    margin: auto;

    flex-direction: column;
    align-items: center;

    justify-content: center;
}


.nav-item {
    padding: 10px;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.highlight {
    font-weight: bold;
    font-size: 2em;
}
/* getting the flourish embeds to line up with text */
.flourish-embed {
    width: 100%;
    height: auto; 
    margin: 0; 
    padding: 0; 
}

.flourish-embed iframe {
    width: 100%;
    height: 100%; /* ensuring the iframe takes the full height of the container */
}

.resized-image { /* resizing my headshot*/
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;   
}

.text-column {
    width: 120%;
    padding-left: 0px;
    padding-top: 700px;
}

.image-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.text-section {
    margin-bottom: 50px;
}


.contactinfo {
    font-weight: light;
    font-size: .75em;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

#header{
    margin-bottom: 10px;

}

.name {
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 3em
}

.stories-container {
    display: grid;
    gap: 20px; 
    grid-template-columns: 1fr; /* Defaulting to single column for smaller screens */
    
}

.story {
    text-align: center;
    border: 1.2px solid black;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding shadow for better visual */

}

.story a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/*resizing all story images */
.story-image {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* Desktop orientation */
@media (min-width: 768px) {
    #nav-bar {
        flex-direction: column;
    }
    .stories-container {
        grid-template-columns: repeat(3, 1fr); /* Three columns for desktop */
    }
   
    
}
/*phone orientation*/
@media (orientation:portrait) {
    #content {
        width: 70%;
        line-height: 1.5em;
        font-size: 1.1em;  
        padding-top: 25%;
    }
    #nav-bar {
        flex-direction: column;
    }

}

#nav-bar {
    /*this makes the nav bar horizontal instead of vertical */
    width: 100%;
    display: flex;
    flex-direction: row;
    font-style: italic;
    justify-content: center;
    position: relative;
    z-index: 100;
}